include ACKNOWLEDGEMENTS AUTHORS LICENSE README
exclude .gitignore
exclude *.pyc
recursive-exclude artifacts *.pyc
recursive-include config *
recursive-include definitions *.yaml
recursive-include tools *.py
recursive-exclude tools *.pyc
# The test scripts are not required in a binary distribution package they
# are considered source distribution files and excluded in find_package()
# in setup.py.
recursive-include tests *.py
