Source: artifacts
Section: python
Priority: extra
Maintainer: Forensic artifacts <forensicartifacts@googlegroups.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.6~), python3-setuptools
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6
Homepage: https://github.com/ForensicArtifacts/artifacts

Package: artifacts-data
Architecture: all
Depends: ${misc:Depends}
Description: Data files for Digital Forensics Artifacts Repository
 A free, community-sourced, machine-readable knowledge base of forensic
 artifacts that the world can use both as an information source and within other tools.

Package: python3-artifacts
Architecture: all
Depends: artifacts-data (>= ${binary:Version}), python3-yaml (>= 3.10), ${misc:Depends}
Description: Python 3 module of Digital Forensics Artifacts Repository
 A free, community-sourced, machine-readable knowledge base of forensic
 artifacts that the world can use both as an information source and within other tools.

Package: artifacts-tools
Architecture: all
Depends: python3-artifacts (>= ${binary:Version}), ${misc:Depends}
Description: Tools of Digital Forensics Artifacts Repository
 A free, community-sourced, machine-readable knowledge base of forensic
 artifacts that the world can use both as an information source and within other tools.
