Source: python-artifacts
Section: python
Priority: extra
Maintainer: Forensic artifacts <forensicartifacts@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0), python, python-setuptools
Standards-Version: 3.9.2
Homepage: https://github.com/ForensicArtifacts/artifacts

Package: python-artifacts
Architecture: all
Depends: python, python-yaml, ${misc:Depends}
Description: ForensicArtifacts.com Artifact Repository.
 A free, community-sourced, machine-readable knowledge base of forensic
 artifacts that the world can use both as an information source and within other tools.
 
